.divider{
    height: 3px;
    width: 90%;
    margin: 1em auto 2em auto;
    background: #2478a9;
    position: relative;
    border-radius: 10%;
}
.ani_box{
    position: absolute;
    box-shadow: 0 0 10px inset #383333;
    height: 30px;
    width: 30px;
    left: 48.6%;
    top: -13px;
    border-radius: 50%;
    background: #3080af;
}
.triangle_ani{
    position: relative;
}
.triangle_ani:before{
    content:'';
    position:absolute;
    border-style: solid;
    left:5px;
    border-width: 10px 10px 0 10px;
    border-color: #232221 transparent transparent transparent;
    border-radius:2px;
    transform: rotate(0deg);
    -webkit-animation:anim 1s infinite ; 
  }
  @-webkit-keyframes anim{
    0%{
      top:10px;
      box-shadow: 0;
    }
    50%{
      top:12px; 
    }
    100%{
      top:10px;
      box-shadow: 0;
    }
}
.triangle_ani:after{
    content:'';
    position:absolute;
    z-index:1;
    top: 24px;
    width:10px;
    height:2px;
    background: #50494978;
    border-radius:100%;
    -webkit-animation:shadow 1s infinite ; 
}

@-webkit-keyframes shadow{
    0%,100%{
      left:10px;
      width:10px;
      height:1px;
      
    }
    50%{
      left:8.6px;   /*讓陰影保持在原位*/
      width:13px;
    }
}