#San_col{
    background: #7f48a9e0;
    &:hover{
        background: #3a0f8ed9;
    }
}
#Tree_col{
    background: #26a04c;
    &:hover{
        background: #0d804a;
    }
}
#Qianzhen_col{
    background: #bb601f;
    &:hover{
        background: #98310a;
    }
}
#Zuoying_col{
    background: #ce3030;
    &:hover{
        background: #a21421;
    }
}
#Lingya_col{
    background: #3980bd;
    &:hover{
        background: #074377;
    }
}