.clearfix {
    clear: both;
}
.content{
    padding: 85px 0 25px 0;
    h3{
        letter-spacing: 3px;
        font-size: 24px;
        text-align: center;
        padding-bottom: 1em;
    }
}
.Att_group{
    display: flex;
    flex-wrap: wrap;
}
.Att_box{
    position: relative;
    width: 48%;
    margin: 8px 10px;
    float: left;
    box-shadow: 0 0 5px #847d7d;;    
    padding-bottom: 2em;
    border-radius: 2px;
    h3,.Zone,.ticket_icon{
        position: absolute;
    }
    h3,.Zone{
        text-shadow: rgb(3, 3, 3) 2px 2px 5px;
        font-weight: bold;
        color: #f5f5ee;
    }
    h3{
        top: 165px;
        right: 10px;
    }
    .Zone{
        font-size: 18px;
        top: 10px;
    }
    img{
        width: 100%;
        height: 180px;
        background-size: cover ;
        background-position: center center;
        margin-bottom: 2em;
    }
    p{
        padding-left: 10px;
        line-height: 30px;
        letter-spacing: 1.5px;
    }
    .ticket_icon{
        right: 10px;
        bottom: 10px
    }
}

//icon
.fas{
    padding-right: 5px;
    color: #0c6573;
}